
.main {
    font-family: var(--font-ebgaramond);
    background-color: var(--bg-color);
}

.container {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 40px;
    margin-top: 110px;
=======
  padding: 3rem;
>>>>>>> ce9e90173f240cf639b99aaf2a15a44132b3af54
}
.header {
    font-family: var(--font-playfair-sc);
    text-align: center;
    letter-spacing: 5px;
    color: black;
    margin-top: 40px;
    text-align: center;
}

.contact-email-container {
    background-color: var(--light-light-green);
    border-radius: 20px;
    color: black;
    font-size: 15pt;
    line-height: 150%;
    padding: 30px;
    margin-block: 30px;
    width: 85vw;
}

.contact-email-container-text {
    font-family: var(--font-cormorant);
    text-align: center;
}

.contact-email-container-input {
    margin-inline: auto;
    height: 58px;
    color: black;
    margin-block: 20px 40px;
}

.contact-email-container-button {
    margin-inline: auto;
    width: 200px;
    height: 50px;
}

.email-input {
    background-color: var(--bg-color);
    font-family: var(--font-cormorant);
    font-size: 14pt;
    height: 100%;
    width: 100%;
    color: black;
    padding-left: 20px;
    border: none;
    outline: none;
    border-radius: 19px;
}

.email-button {
    cursor: pointer;
    font-family: var(--font-playfair-sc);
    font-size: 18px;
    letter-spacing: 2px;
    color: black;
    width: 100%;
    height: 100%;
    background-color: var(--gray-green);
    border-radius: 4rem;
    border: 2px solid var(--gray-green);
}

<<<<<<< HEAD
=======
/* framer motion is better since it also provides exit animations */
/* font weight is manually set to avoid unnecessary errors in console */
.email-button:hover {
    /* cursor: pointer; */
    font-weight: 500;
    /* transition: .3s; */
    /* letter-spacing: 3px; */
    /* background-color: var(--dark-gray-green); */
    /* border-color: var(--dark-gray-green); */
}

>>>>>>> 2e1202317c4e07bcd2a28b0d4108978cbe8ab19c
.connect-container {
    padding-block: 4rem;
    margin-block: 1rem;
    color: black;
}

.connect-text {
    font-family: var(--font-cormorant);
    font-size: 14pt;
    text-align: center;
    margin-top: 20px;
}

.social-container {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-block: 1rem;
    margin-bottom: 5rem;
}

.social-header {
    font-family: var(--font-playfair-sc);
    letter-spacing: 5px;
    color: black;
    text-align: center;
    padding-bottom: 80px;
}

.social-buttons {
<<<<<<< HEAD
    min-width: 250px;
    height: 55px;
    margin-block: 10px;
    background-color: var(--light-green);
=======
    min-width: 100%;
    height: 60px;
    margin: .7rem auto;

    /* transparent background slightly messes up the transition, so this probably can be reverted back to "transparent" */
    background-color: #FFFFFF;
    
    border: 2px solid lightgray;
>>>>>>> 2e1202317c4e07bcd2a28b0d4108978cbe8ab19c
    border-radius: 50px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: 0.15rem;
}

<<<<<<< HEAD

.social-text {
    font-family: var(--font-cormorant);
    font-size: 15pt;
    letter-spacing: 2px;
    width: 56%;
=======
/* also converted to framer motion */
/* .social-buttons:hover {
    cursor: pointer;
    background-color: var(--light-green);
    border-color: var(--light-green);
    transition: .3s;
} */

.social-buttons:hover .social-text {
    /* letter-spacing: .19rem;
    transition: .3s; */
    font-weight: 500;
}

.social-text {
    font-family: var(--font-cormorant);
    /* letter-spacing: .15rem; */
    font-size: 18pt;
    width: 72%;
>>>>>>> 2e1202317c4e07bcd2a28b0d4108978cbe8ab19c
    text-align: center;
}

.social-images {
    height: auto;
    margin: 10px;
    border-radius: 30px;
}


@media screen and (min-width: 480px) {
    .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    font-family: var(--font-ebgaramond);
    background-color: var(--bg-color);
    position: relative;
    padding-bottom: 15rem;    /* Footer height */
    }

    .container {
    margin-top: 100px;
    padding: 3rem;
    }

    .header {
        font-family: var(--font-playfair-sc);
        letter-spacing: 5px;
        color: black;
        margin-top: 100px;
        padding: 3rem;
    }

    .contact-email-container {
        background-color: var(--light-light-green);
        border-radius: 27px;
        width: 730px;
        height: 450px;
        color: black;
        margin-bottom: 2rem;
        display: flex;
        flex-direction: column;
        font-size: 15pt;
        line-height: 2rem;
    }

    .contact-email-container-text {
        font-family: var(--font-cormorant);
        text-align: center;
        margin-top: 75px;
        margin-inline: 104px;
        margin-bottom: 50px;
    }

    .contact-email-container-input {
        margin-inline: auto;
        height: 58px;
        width: 513px;
        color: black;
        margin-bottom: 50px;
    }

    .contact-email-container-button {
        margin-inline: auto;
        width: 220px;
        height: 50px;
    }

    .email-input {
        background-color: var(--bg-color);
        font-family: var(--font-cormorant);
        font-size: 14pt;
        height: 100%;
        width: 100%;
        color: black;
        padding-left: 20px;
        border: none;
        outline: none;
        border-radius: 19px;
    }

    .email-button {
        font-family: var(--font-playfair-sc);
        font-size: 18px;
        letter-spacing: 2px;
        color: black;
        width: 100%;
        height: 100%;
        background-color: var(--gray-green);
        border-radius: 4rem;
        border: 2px solid var(--gray-green);
    }

    .email-button:hover {
        cursor: pointer;
        font-weight: 500;
        transition: .3s;
        letter-spacing: 3px;
        background-color: var(--dark-gray-green);
        border-color: var(--dark-gray-green);
    }

    .connect-container {
        width: 730px;
        padding-block: 4rem;
        margin-block: 1rem;
        color: black;
    }

    .connect-text {
        font-family: var(--font-cormorant);
        font-size: 15pt;
        text-align: center;
        margin-inline: 30px;
    }

    .social-container {
        width: 22vw;
        color: black;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-block: 1rem;
        margin-bottom: 5rem;
    }

    .social-buttons {
        min-width: 100%;
        height: 60px;
        margin: .7rem auto;
        background-color: transparent;
        border: 2px solid lightgray;
        border-radius: 50px;

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .social-buttons:hover {
        cursor: pointer;
        background-color: var(--light-green);
        border-color: var(--light-green);
        transition: .3s;
    }

    .social-buttons:hover .social-text {
        letter-spacing: .19rem;
        transition: .3s;
        font-weight: 500;
    }

    .social-text {
        font-family: var(--font-cormorant);
        letter-spacing: .15rem;
        font-size: 18pt;
        width: 72%;
        text-align: center;
    }

    .social-images {
        height: auto;
        margin: 10px;
        border-radius: 30px;
    }

    .paragraph-spacing {
        padding-bottom: 7px;
    }
}