.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: var(--font-ebgaramond);
  background-color: var(--bg-color);
}

.main h1 {
  font-family: var(--font-playfair-sc);
  letter-spacing: .3rem;
  margin-block: 3rem;
}

.container {
  margin-top: 100px;
  padding: 3rem;
  line-height: 5rem;
  text-align: center;
}

.container h1 {
  font-family: var(--font-playfair-sc);
  letter-spacing: .3rem;
}

.container p {
  font-size: 15pts;
}