/* ---------MOBILE VIEW----------- */
@media screen and (max-width: 699px) {

  .audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 14vh;
    opacity: .9;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 35px 35px 35px 28px rgba(0, 0, 0, 0.2);
  }
  
  .artwork {
    display: none;
  }
  
  .track-info {
    text-align: center;
    z-index: 1;
    position: relative;
  }
  
  .title {
    font-size: 13pt;
    margin-bottom: 10px;
  }
  
  .artist {
    display: none;
  }

  .hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 15px;
  }
  
  .play, .pause, .increment {
    border: none;
    background-color: transparent; 
    padding-block: auto;
    opacity: .9;
  }

  .increment {
    margin-inline: 9px;
    margin-bottom: 3px;
    transition: .2s;
    opacity: .8;
  }

  .play:hover, .pause:hover, .increment:hover {
    cursor: pointer;
    opacity: 1;
    transition: .2s;
  }

  .audio-controls path {
    fill: var(--white);
  }

  .audio-controls button:hover {
    width: 20px;
  }

  .progress {
    border-radius: 0px;
    width: 70vw;
    outline: none;
  }

  .timer {
    font-family: 'Arial';
    font-size: 10.5pt;
  }
  

}

/* ---------DESKTOP VIEW----------- */
@media screen and (min-width: 700px) {

  .audio-player {
    max-width: 350px;
    padding: 24px;
    border-radius: 20px;
    box-shadow: 0 28px 28px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);
    opacity: 95%;
  }
  
  .artwork {
    border-radius: 120px;
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
  }
  
  .track-info {
    text-align: center;
    z-index: 1;
    position: relative;
  }
  
  .title {
    font-weight: 700;
    margin-block: 11px;
  }
  
  .artist {
    display: none;
  }

  .hbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 9px;
  }
  
  .audio-controls {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 15px;
  }
  
  .play, .pause, .increment {
    border: none;
    background-color: transparent;
    opacity: .8; 
  }

  .increment {
    border: none;
    background-color: transparent; 
    margin-inline: 10px;
    margin-bottom: 4px;
    opacity: .8;
  }

  .play:hover, .pause:hover, .increment:hover {
    cursor: pointer;
    opacity: 1;
  }

  .audio-controls path {
    fill: var(--white);
  }

  .progress {
    border-radius: 8px;
    outline: none;
  }

  .timer {
    font-family: 'Arial';
    font-size: 10.5pt;
  }
  

}