.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-inline: 25px 15px;
    background-color: rgba(245, 245, 245, 0.9);
    top: 0;
    position: fixed;
    z-index: 1;

    color: rgb(64, 64, 64);
    font-size:large;
    font-weight: 700;
    font-family:var(--font-cormorant);
    letter-spacing: .1rem;
}

.logo {
    padding-top: 20px;
    height: auto;
}

.buttons{
    width: auto;
    height: 0px;
    display: inherit;
    align-items: flex-start;
    padding-left:3rem;
    margin-top: -40px;
    gap: 3vw;
}

.item {
    min-width: 6vw;
    padding-top: 0;
    padding: 1rem;
}

.item:hover {
    font-weight: 900;
    background-color: rgba(245, 245, 245, 0.9);
}

.item:hover .dropdown {
    margin-top: .4rem;
    font-weight: 600;
}



/* .buttons:hover .label {
    opacity: .5;
}

.button:hover .item:hover .item {
    opacity: 1;
    height:60px;
}

.button:hover .item:hover .label {
    opacity: 1;
} */

/* 

.header:hover {
    color: black;
}


.dropdown {
    display: none;
}

.item:hover .dropdown {
    display: flex;
    flex-direction: column;
    justify-content: top;
} */