.navbar{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.navbarEnd{
    width: 40%;
    display: inherit;
    flex-direction: inherit;
    justify-content: flex-end;
    align-items: center;
    gap: 20%;
}

.navbarButton{
    color: rgb(64, 64, 64);
    font-size:larger;
    font-weight: 700;
    font-family:var(--font-cormorant);
    letter-spacing: .1rem;
    padding: 5px;
}

.navbarButton:hover{
    color: black;
}