.container {
    /* background-color: var(--agora-green); */
    display: inherit;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:85vh;
    height: 80vh;
    margin-top: 90px;
}

.logo {
    margin-top: -50px;
}