.card {
    width: 400px;
    height: 500px;
    margin-block: 1.5rem;
  }
  
  /* article title */
  .card h2 {
    font-family: var(--font-ebgaramond);
    font-weight: 400;
    text-align: left;
    padding-left: .5rem;
    bottom: 5px;
    position: relative;
  }
  
  /* genre label */
  .card p {
    font-family: 'Arial';
    font-style: italic;
    font-size: 11pt;
    color: rgb(119, 119, 119);
  
    position: relative;
    text-align: right;
    top: -370px;
    right: 30px;
  }
  
  /* default color card */
  .cardColor {
    background-color: var(--agora-green);
    width: 400px;
    height: 400px;
  }
  
  /* article image */
  .cardImage {
    width: 400px;
    height: 400px;
  }
  
  