/*
CUSTOM VARIABLES
colors:
--agora-green: BFD8C5
--light-green: E5ECE7
--neutral-tan: F0EDE9
--gray-green: D1D7D3
--dark-green: 7C9D84
--darkest-green: 2C4B33

fonts:
--font-ebgaramond
--font-playfair
--font-cormorant
*/

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  font-family: var(--font-ebgaramond);
  background-color: whitesmoke;
}

.heading {
  display: inherit;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:100%;
  margin-top: 120px;
}
.heading h1 {
  color: black;
  font-family: var(--font-playfair);
  font-weight: 500;
  font-size: 90px;
  letter-spacing: 1em;
  text-indent: 1em;

  margin-top: 40px;
}
.heading h2 {
  color: black;
  font-style: italic;
  font-weight: 400;
  font-size: 22px;
  letter-spacing: .1em;
  text-indent: .1em;
  text-align: center;

  margin-top: 25px;
}

.container {
  /* background-color: #E5ECE7; */
  width: 100vw;
  height: 200vh;
  margin: 3rem;
  margin-top: 200px;
  padding: 3rem;
}

.container h1 {
  font-weight: 600;
  letter-spacing: .15rem;
  padding-left: 40px;
}

.card {
  background-color: var(--agora-green);
  width: 400px;
  height: 400px;
  padding: 1.5rem;
  margin: 3rem;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  font-family: 'Arial';
  font-style: italic;
  font-size: 11pt;
  color: rgb(119, 119, 119);
  text-align: right;
}

