/*
CUSTOM VARIABLES
colors:
--agora-green: BFD8C5
--light-green: E5ECE7
--neutral-tan: F0EDE9
--gray-green: D1D7D3
--dark-green: 7C9D84
--darkest-green: 2C4B33

fonts:
--font-ebgaramond
--font-playfair
--font-playfair-sc
--font-cormorant
*/

.notice {
  width: 20rem;
  height: 20rem;
  margin-inline: auto;
}